@model weightmeas.Models.WeightPlot

@{
    ViewBag.Title = "RegisterWeight";
}

<h2>RegisterWeight</h2>

@using (Html.BeginForm("RegisterWeightExecute", "Home"))
{
    @Html.ValidationSummary(true)

    <fieldset>
    
        <div class="editor-label">
            @Html.LabelFor(x => x.Weight)
        </div>

        <div class="editor-field">
            @Html.EditorFor(x => x.Weight)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(x => x.FatPercent)
        </div>

        <div class="editor-field">
            @Html.EditorFor(x => x.FatPercent)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(x => x.MuscularWeight)
        </div>

        <div class="editor-field">
            @Html.EditorFor(x => x.MuscularWeight)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(x => x.WaterWeight)
        </div>

        <div class="editor-field">
            @Html.EditorFor(x => x.WaterWeight)
        </div>
        
        <input type="hidden" name="PrivateToken" value="@Model.PrivateToken"/>
       
        <p>
            <input type="submit" value="Create" />
        </p>
    
    </fieldset>
}
