@using weightmeas.Models
@model weightmeas.Models.User

@{
    ViewBag.Title = "Home";

    // Figure out if any plots are availiable.
    var plotsAvailiable = Model.WeightPlots != null && Model.WeightPlots.Count>0;

    WeightPlot firstPlot = null;
    WeightPlot lastPlot = null;
    
    if(plotsAvailiable)
    {
        firstPlot = Model.WeightPlots.OrderBy(x => x.PlotStamp).First();
        lastPlot = Model.WeightPlots.OrderByDescending(x => x.PlotStamp).First();
    }
}

<script type="text/javascript" src="http://www.google.com/jsapi"></script>

<script type="text/javascript">
    google.load('visualization', '1', {packages: ['corechart']});
</script>

<h2>Home</h2>


<!-- -------------------------------------------------------------
    Display introduction.
------------------------------------------------------------------ -->
<p>
    Welcome to your home page. Here you can see your weight graph and you can edit your plots. Please note that these
    features are not availiable yet. They will become availiable at a later stage.
</p>

<!-- -------------------------------------------------------------
    Display Panel that display the link to Quick Registration.
------------------------------------------------------------------ -->
<div class="RoundedSection">
    <h3>Link to quick registration</h3>
    <p>
        The link provided under this text enables you to log in to your account and register a weight plot
        without having to enter your username and password.<br/><br/>
           
        I encourage you to copy this link and add it to your smart phone so that you can easily register your weight
        whenever you weight in, without having to log in or use a application.<br/><br />
    </p>
        
    @{
        var uri = HttpContext.Current.Request.Url.AbsoluteUri;
        var parms = HttpContext.Current.Request.Url.PathAndQuery;
        var link = uri.Replace(parms, @"/Home/RegisterWeight?privateToken=" + Model.PrivateToken);
        link = link.Replace(@"http://", "");
            
        if(link.Contains("apphb.com"))
        {
            var port = HttpContext.Current.Request.Url.Port;
            link = link.Replace(port.ToString(),"").Replace(":", "");
        }
            
    }

    <div class="DottedLink" >@link</div>
</div>

<!-- -------------------------------------------------------------
    Display Graph and Status panel is plots are available.
    If plots are not availiable, then display message saying that the
    user should add some plots.
------------------------------------------------------------------ -->
@if(plotsAvailiable)
{
    var weightPlots = Model.WeightPlots.OrderBy(x => x.Weight).Select(x => x.Weight);
    var lowest = weightPlots.First() - 5;
    var highest = weightPlots.Last() + 5;
    
    <div class="RoundedSection">
        <h3>Weight chart</h3>
        
        <!--
        Create the graph using Google chart.
        -->
        
        <script type="text/javascript">
            function drawVisualization() {
                // Create and populate the data table.

                var data = new google.visualization.DataTable();
                data.addColumn('date', 'Date');
                data.addColumn('number', 'Weight');

                data.addRows([
                    @foreach(var plot in Model.WeightPlots.OrderBy(x=>x.PlotStamp))
                    {
                        @Html.Raw("[new Date(" + plot.PlotStamp.Year + "," + plot.PlotStamp.Month + "," + plot.PlotStamp.Day + ")," + plot.Weight.ToString().Replace(",", ".") + "]")

                        if (plot.PlotId != Model.WeightPlots.OrderBy(x=>x.PlotStamp).Last().PlotId)
                        {
                            @Html.Raw(",")
                        }
                    }
                ]);

                // Create and draw the visualization.
                new google.visualization.LineChart(document.getElementById('visualization')).
                    draw(data, {
                        curveType: "function",
                        width: 500,
                        height: 400,
                        pointSize: 2,
                        @Html.Raw("vAxis: { maxValue: "+lowest.ToString().Replace(",",".")+", minValue: "+highest.ToString().Replace(",",".")+" }")
                    });
            }            

            google.setOnLoadCallback(drawVisualization);
            
        </script>

        <div id="visualization" style="width: 500px; height: 400px;"></div>

        <div class="DottedLink" style="text-align: left; padding: 20px;">
            <h3>Summary</h3>
            Date of first weight-in was <span class="UnderlinedStrong">@firstPlot.PlotStamp.ToShortDateString()</span> and I was
            weighing <span class="UnderlinedStrong">@String.Format("{0:0.00} kg",firstPlot.Weight)</span> at that time.
            My last weight-in was <span class="UnderlinedStrong">@lastPlot.PlotStamp.ToShortDateString()</span> and I was
            weighing <span class="UnderlinedStrong">@String.Format("{0:0.00} kg",lastPlot.Weight)</span>.

            @{
                var weightLoss = lastPlot.Weight - firstPlot.Weight;
            }
            
            I've lost <span class="UnderlinedStrong">@String.Format("{0:0.00} kg", weightLoss)</span> so far!

        </div>
    </div>
}
else
{
    <div class="RoundedSection">
        <p>
            No plots avaliable. The graph and the information will become availiable whenever you start
            to register your weight :)
        </p>
    </div>
}
